
$light-gray: #D1D1D1
$gray: #95989A
$dark-gray: #525252
$background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84)

@mixin setBorder($color)
  border: 1px solid $color

html
  height: 99.9%
  //background: $background

body
  // @include setBorder(purple)
  height: 99.9%
  margin: 0
  display: flex
  justify-content: center
  align-items: center

.game-container
  //@include setBorder($light-gray)
  position: relative
  margin: 10rem auto
  height: 35rem
  width: 35rem

.row
  //@include setBorder($light-gray)
  height: 33%
  display: flex
  justify-content: space-around
  align-items: center

.row-box
  @include setBorder($dark-gray)
  height: 11rem
  width: 11rem
  display: flex
  justify-content: center
  align-items: center

// mixin for the close icon
@mixin  closeIcon()
  content: ""
  height: 9rem
  border-left: 2px solid $dark-gray
  position: absolute
  left: 69px

.close
  @include  setBorder($gray)
  width: 9rem
  height: 9rem
  position: relative
  &:after
    @include closeIcon
    transform: rotate(45deg)
  &:before
    @include closeIcon
    transform: rotate(-45deg)

