
$light-gray: #D1D1D1
$gray: #95989A
$dark-gray: #525252
$background: linear-gradient(to right, #355C7D, #6c5b7b, #c06c84)
$font: Gabriola, sans-serif
$box-background: rgba(82, 69, 94, 0.3)

@mixin centerItems()
  display: flex
  justify-content: center
  align-items: center

@mixin boxDesign()
  border: 2px solid white
  background-color: $box-background


h1, h2, h3, h4, h5, h6
  color: white
  font-family: $font
  font-weight: 100

h1
  font-size: 3rem
h3
  font-size: 2rem

html
  height: 99.9%
  background: $background

body
  border: 1px solid transparent // so that the page doesn't scroll...wtf why does this work?
  height: 99.9%
  margin: 0
  // filter: blur(10px)

.heading-text
  @include centerItems
  margin: 0 auto
  height: 6rem
  position: relative
  top: 15%

.main-container
  @include centerItems
  height: 30rem
  position: relative
  top: 20%

.game-container
  position: relative
  margin: 10rem auto
  height: 28rem
  width: 28rem

.row
  height: 33%
  display: flex
  justify-content: space-around
  align-items: center

.row-box
  @include centerItems
  @include boxDesign
  height: 8rem
  width: 8rem
  cursor: pointer

// mixin for the close icon
@mixin  closeIcon()
  content: ""
  height: 8rem
  border-left: 2px solid white
  position: absolute
  left: 2.95rem
  top: -15px

.x-icon
  width: 6rem
  height: 6rem
  position: relative
  &:after
    @include closeIcon
    transform: rotate(45deg)
  &:before
    @include closeIcon
    transform: rotate(-45deg)

.o-icon
  width: 6rem
  height: 6rem
  border-radius: 7rem
  border: 2px solid white

.x-icon, .o-icon
  transform: translateZ(20px)

.restart
  @include boxDesign
  display: block // or else margin: 0 auto won't work
  color: white
  position: relative
  top: 22%
  width: 10rem
  height: 3rem
  margin: 0 auto
  text-align: center
  font: 2rem $font
  cursor: pointer
  outline: none
  padding-bottom: 3rem
  border: 2px solid white
  &:hover
    background: rgba(0, 0, 0, 0.4)

.tilt
  transform-style: preserve-3d
